/* for global font and background */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif; 
  background-color: #ffffff;           
  color: #000000;                         
}

.ant-layout {
  background: #000000; 
}

.ant-layout-header {
  background-color: #ffffff; 
  color: #000000;
}

/* Buttons, Cards, etc. */
.ant-btn-primary {
  background-color: #05b6f7;
  border-color: #02042f;
}
